.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/sikoko/assets/file_email_dosen/*
/sikoko/assets/foto_berita/*
/sikoko/assets/foto_profil/*
/sikoko/assets/knowledge_management/*
/sikoko/assets/notulensi/*
/sikoko/assets/progress/*

!/sikoko/assets/file_email_dosen/.gitkeep
!/sikoko/assets/foto_berita/.gitkeep
!/sikoko/assets/foto_profil/.gitkeep
!/sikoko/assets/knowledge_management/.gitkeep
!/sikoko/assets/notulensi/.gitkeep
!/sikoko/assets/progress/.gitkeep
application/config/config.php
application/config/database.php
sikoko/application/config/config.php
sikoko/application/config/database.php
